<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {{ include('layout/menu.html.twig') }}

        <h1>Produit {{ dog.id +1}}</h1>


        {{ dog.name}}

        {{ dog.price }} €

        {{ dog.color }}

        {{ dog.goodboy }} /5

    </body>
</html>
