 {% extends 'base.html.twig' %}


 {% block title %}Shop Item - Start Bootstrap Template{% endblock %}

     {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">
    <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
     {% endblock %}

  {% block body %}


    <!-- Navigation -->
    {{ include('layout/menu.html.twig') }}


    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <h1 class="my-4">Good boii.com</h1>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="{{ dog.image}}" alt="">
            <div class="card-body">
              <h3 class="card-title">{{ dog.name}} - {{ dog.viewCounter }} vues</h3>
              <h4>{{ dog.price }} €</h4>
              <p class="card-text">{{ dog.color }} {{ dog.getBreed().getName() }}</p>
             <p class="card-text"> {% for tag in dog.tags %}
                 {{ tag.name }}
              {% endfor %} </p>
              {% for i in 0..dog.goodboy-1 %}
              <small class="text-warning"> &#9733;</small>
              {% endfor %}
              {% if dog.goodboy < 5 %}
              {% for i in 1..5-dog.goodboy %}
              <small class="text-warning"> &#9734;</small>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Description
            </div>
            <div class="card-body">
            <p>{{ dog.description }}</p>

            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Romain 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


{% endblock %}
